.dados-container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border: 1px solid black;
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(113 113 122 / var(--tw-bg-opacity));
}

.dados-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* w-[250px] flex justify-between */

.div-container-inputs {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.each-label {
    font-weight: 600;
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    text-decoration: underline;
}

.each-input {
    width: 380px;
    font-size: 1.25rem;
    margin: 3px;
    padding: 2px;
}

.dados-titulo {
    font-weight: bold;
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    --tw-text-opacity: 1;
    color: rgb(244 244 245 / var(--tw-text-opacity));
    text-align: center;
}

.div-botao-salvar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dados-botao-salvar {
    border-radius: 10px;
    --tw-text-opacity: 1;
    color: rgb(134 239 172 / var(--tw-text-opacity));
    font-weight: 600;
    --tw-bg-opacity: 1;
    background-color: rgb(63 63 70 / var(--tw-bg-opacity));
    padding: 0.5rem;
    margin: 5px;
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    width: 100px;
}

.dados-botao-salvar:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}