@tailwind base;
@tailwind components;
@tailwind utilities;

.destaque-normal {
  color: rgb(56, 56, 56);
  background-color: rgb(47, 255, 109);
}

.destaque-atencao {
  color: rgb(56, 56, 56);
  background-color: rgb(244, 255, 85);
}

.destaque-grave {
  color: snow;
  background-color: rgb(255, 85, 85);
}